# This is a basic workflow to help you get started with Actions

name: deploy

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      - name: docker hub login
        uses: docker/login-action@v3
        with:
          username: ${{vars.DOCKER_HUB_USER_NAME}}
          password: ${{secrets.DEPLOY_ACCESS_TOKEN}}
      - name: Build and push
        uses: docker/build-push-action@v6.9.0
        with:
          push: true
          tages: gjwoo96/deploy_test:latest
